body {
    background-color: #494949;
    caret-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    outline: 1px solid slategrey;
  }

.navbar {
    background-color: #494949 !important;
    border-bottom: 1px solid black;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
}

.form-check-input:checked {
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}

textarea {
    width: 100%;
    height: 10em;
    margin-left: 1em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #333;
    font-size: 16px;
    font-weight: bold;
    resize: none;
    overflow-y: scroll;
    outline: none;
    color: white;
    scrollbar-color: #a9a9a9 #333;
    
}


.note {
    background-color: #333;
    width: 50vw;
}

.date {
    font-size: .8em;
    color: rgb(124, 124, 124);
}