.btn {
  background-color: purple;
  color: white;
}

.btn:hover{
  background-color: rgb(86, 3, 86);
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
  border-radius: 2em !important;
}

.form-check-input:checked {
  background-color: purple
}

